.wrap-container{
width: 100%;
background: #659999;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f4791f, #659999);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f4791f, #659999); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
margin-top: 20px;
padding-bottom: 20px;
}

.buttonMeme {
  background-color: rgb(227, 255, 255);
  width: 150px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 10px;
  color: black;
  font-weight: bold;
}

.containerAll {
  display: grid;
  align-content: center;
  justify-content: center;
  margin: auto;
  width: 350px;
  margin-bottom: 30px;
}

.bgGlobal {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: auto;
  height: 300px;
  width: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgChooser1 {
  background-image: url("../../img/bg1.jpg");
}

.bgChooser2 {
  background-image: url("../../img/bg2.jpg");
}

.bgChooser3 {
  background-image: url("../../img/bg3.jpg");
}

.bgChooser4 {
  background-image: url("../../img/bg4.jpg");
}

.bgChooser5 {
  background-image: url("../../img/bg5.jpg");
}

mark {
  background-color: white;
  line-height: 2.5;
}
